* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: 0.2s;
}
*:hover {
  transition: 0.2s;
}

.App {
  height: 100vh;
}

a {
  text-decoration: none;
  color: unset;
}

button {
  cursor: pointer;
}